---
title: Books
---

<!--  Books -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Books</h3>

			<div class="row">
			<% data.books.each do |t| %>			
				<div class="col-sm-6 col-md-3 book">
					<div class="book-img">
						<a href="<%= t.url %>"><img src="images/books/<%= t.image %>"></a>
						<% if t.new == 1 %>
						<span>New !</span>
						<% end %>
					</div>
					<div><a href="<%= t.url %>"><%= t.title %></a></div>
					<div>出版元：<%= t.publisher %></div>
					<div>発売日：<%= t.date %></div>
				</div>				
			<% end %>
			</div><!-- /row -->			
			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->
