---
title: 佐々木正悟 公式サイト
---

<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 centered">
				<img src="images/nokiba_s.png" alt="SASAKI Shogo">
			</div><!-- col-sm-3 -->
			<div class="col-sm-8">
				<div class="text-xs-center">
					<h3>佐々木　正悟</h3>
					<h4>SASAKI　Shogo</h4>
				</div>
					
				<p>心理学ジャーナリスト。「ハック」ブームの仕掛け人の一人。専門は認知心理学。</br>
				1973年北海道旭川市生まれ。97年獨協大学卒業後、ドコモサービスで働く。2001年アヴィラ大学心理学科に留学。</br>
				同大学卒業後、04年ネバダ州立大学リノ校・実験心理科博士課程に移籍。2005年に帰国。</p>
				<p>帰国後は「効率化」と「心理学」を掛け合わせた「ライフハック心理学」を探求。執筆や講演を行う。</p>
				<p>著書に、ベストセラーとなったハックシリーズ『スピードハックス』『チームハックス』(日本実業出版社)のほかに『先送りせずにすぐやる人に変わる方法』(中経出版)『一瞬で「やる気」がでる脳のつくり方』(ソーテック)など。また、共著に『iPhone情報整理術』(技術評論社)がある。</p>
				<p>「シゴタノ!-仕事を楽しくする研究日誌」にて連載中。</p>				
			</div><!-- /col-sm-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /ww -->
	
	 
<!--  News -->
<div class="container pt">
	<div class="row">	
		<div class="col-lg-10 col-lg-offset-1">
			<h3>News</h3>
			<ul>
				<% data.news[0...5].each do |n| %>
				<li><%= n.date %></br><%= n.title %></li>
				<% end %>
			</ul>
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->	

<!--  Updates -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Updates</h3>
			
			<!-- Shigotano -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/nokiba_r.jpg">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					シゴタノ（火・木更新）</br>
					<a href="http://cyblog.jp/modules/weblogs/">http://cyblog.jp/modules/weblogs/</a> 
				</div>
			</div>
			<div class="row mt">
				<div class="col-sm-10">
					<div  id="shi_feed"></div>
				</div>
			</div>	
			
			<!-- はてなブログ -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/hatenablog-logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					はてなブログ（毎日？更新）</br>
					<a href="http://nokiba.hatenablog.jp/">http://nokiba.hatenablog.jp/</a> 
				</div>
			</div>
			<div class="row mt">
				<div class="col-sm-10">
					<div  id="hatena_feed"></div>
				</div>
			</div>			
			
			<!-- @人事 -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/jinji.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					@人事ONLINE</br>
					連載「残業ゼロを目指して」</br>
					<a href="https://at-jinji.jp/blog/author/68/">https://at-jinji.jp/blog/author/68/</a>  
				</div>
			</div>			
			<div class="row mt">
				<div class="col-sm-10">
					<% data.jinji[0...3].each do |e| %>
					<%= e.date %> <a href="<%= e.link %>"><%= e.title %></a></br>
					<% end %>
				</div>
			</div>	

			<!-- note -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/note_logo.jpg">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					note（毎週2回更新）</br>
					倉下忠憲・佐々木正悟からお届けする働く人のためのMP戦略マガジン。</br>
					<a href="https://note.mu/nokiba/m/m3221b02820a1">働く人のMP戦略</a> 
				</div>
			</div>
			<div class="row mt">
				<div class="col-sm-10">
					<div  id="note_feed"></div>
				</div>
			</div>
						
			<!-- ライフハック情報整理マガジン -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/newshack_logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					ライフハック情報整理マガジン</br>
					<a href="https://www.newshack.info/">https://www.newshack.info/</a> 
				</div>
			</div>
			<div class="row mt">
				<div class="col-sm-10">
					<div  id="newshack_feed"></div>
				</div>
			</div>
			
			<!--  CHANGES -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/changes.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					CHANGES（火曜更新）</br>
					<a href="https://changes.jp/archives/author/nokiba">https://changes.jp/archives/author/nokiba</a> 
				</div>
			</div>
			
			<!-- のきばトーク -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/nokiba_r.jpg">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					のきばトーク（月曜放送）</br>
					<a href="https://www.youtube.com/channel/UCGkCXUzUm5y_lmIZsiOumww">YouTube</a></br>
					<a href="https://scrapbox.io/nokibatalk/">まとめページ</a> 
				</div>
			</div>			
			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->

<!--  SNS -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>SNS</h3>

			<!-- Twitter -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/Twitter_Logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					Twitter （@nokiba）</br>
					<a href="https://twitter.com/nokiba">https://twitter.com/nokiba</a> 
				</div>
			</div>
			
			<!-- Facebook -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/facebook_logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					Facebook</br>
					<a href="https://www.facebook.com/shogo.sasaki">https://www.facebook.com/shogo.sasaki</a> 
				</div>
			</div>	
			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->

<!--  Seminar -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Seminar</h3>
		</div><!-- /col-lg-10 -->
		
		<% data.seminar[0...4].each do |s| %>
		<% if s.view == '○' then %>
		<div class="col-lg-10 col-lg-offset-1">
			
				<div>
					<a href="<%= s.url %>"><%= s.title %></a></br>
					<%= s.description %>
				</div>
		</div><!-- /col-lg-10 -->
		
		<div class="col-md-6 col-lg-offset-1">		
				<table id="stb" class="table table-bordered">
					<caption>開催概要</caption>
					<tbody>
						<tr>
							<th>日時</th>
							<td><% s.date.split(',').each_with_index do |t, idx| %><%= t %>(<%= s.time.split(',')[idx] %>)</br><% end %><%= s.open %></td>
						</tr>
						<tr>
							<th nowrap="nowrap">開催場所</th>
							<td><a href="<%= s.place_url %>"><%= s.place %></a></br>(<%= s.address %>)</td>
						</tr>
						<tr>
							<th>参加費</th>
							<td><%= s.price %></td>
						</tr>
						<tr>
							<th>定員</th>
							<td><%= s.capacity %>人(先着順)</td>
						</tr>
					</tbody>
				</table>	
		</div><!-- /col-md-6 -->
		<% end %>
		<% end %>			

	</div><!-- /row -->
</div> <!-- /container -->


<!--  Books -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Books</h3>
			
			<div class="row">
				<% data.books[0...6].each_with_index do |t, idx| %>
			
				<div class="col-sm-6 col-md-4 book">
					<div class="book-img">
						<a href="<%= t.url %>"><img src="images/books/<%= t.image %>"></a>
						<% if t.new == 1 %>
						<span>New !</span>
						<% end %>
					</div>
					<div><a href="<%= t.url %>"><%= t.title %></a></div>
					<div><%= t.publisher %></div>
					<div><%= t.date %></div>
				</div>
			
				<% end %>
			</div>	<!-- /row -->		
			
			<div>
				<a href="books.html"> >>more..</a>
			</div>
			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->


<!--  Previous Work -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Previous Work</h3>
			
			日経Woman
			<ul>
				<li><a href="http://wol.nikkeibp.co.jp/article/column/20110908/113935/">自分が変わる！生活が変わる習慣心理学</a></li>
				<li><a href="http://wol.nikkeibp.co.jp/article/column/20140515/180761/">毎日が変わる！スマホ＆タブレット活用術</a></li>
			</ul>
			Biz ID
			<ul>
				<li><a href="http://www.itmedia.co.jp/keywords/anxiety_estimate.html">あなたの不安、見積もります</a></li>
				<li><a href="http://www.itmedia.co.jp/bizid/articles/1009/21/news012.html">マンガでわかる！ スピード仕事術</a></li>
			</ul>
			マイナビ
			<ul>
				<li><a href="http://news.mynavi.jp/series/hacks/menu.html">Google世代の整理術</a></li>
				<li><a href="http://news.mynavi.jp/series/lifehacktalk/menu.html">佐々木正悟×堀E正岳 ライフハック・トーク</a></li>
			</ul>

		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->

<!--  Contact -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Contact</h3>

			<div>
				<a href="contact.html">お問い合わせはこちら</a>
			</div>

		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->
	
